{% for decorator in decorators -%}
{{ decorator }}
{% endfor -%}

{%- set field = fields[0] %}


{%- if field.annotated %}
{% set annotation = field.annotated%} 
{%- else %}
{% set annotation = field.type_hint %}
{%- endif %}



class {{ class_name }}({{ base_class }}[{{ annotation}}]):{% if comment is defined %}  # {{ comment }}{% endif %}
{%- if description %}
    """
    kk
    {{ description | indent(4) }}
    {%- if field.docstring %}
    {{ field.docstring | indent(4) }}
    {%- endif %}

    {% if field.description %}
    {{ field.description | indent(4) }}
    {%- endif %}

  
    """
{%- endif %}
{%- if config %}
{%- filter indent(4) %}
{% include 'Config.jinja2' %}
{%- endfilter %}
{%- endif %}
{%- if not fields and not description %}
    pass
{%- else %}
    """
    {% if field.extras.get("description")%}{{field.extras.get("description")}}{%- endif %}
    {% if field.extras.get("example")%}Example: {{ field.extras.get("example") }}{%- endif %}
    {% if field.extras.get("title")%}Title: {{ field.extras.get("title") }}{%- endif %}
    """

{%- endif %}
